<div class="element" *ngIf="geodata">

  <div class="left">
    <div class="rectangle"></div>
    <p>{{ geodata.player.name }}</p>
    <p *ngIf="showTerm">{{ geodata.term.term }}</p>
  </div>

  <button (click)="emitChange()">Show In Maps</button>

</div>
