.element
{

  display: flex;
  align-items: center;
  justify-content: center;

  height: 55px;
  border-radius: 15px;

  background-color: rgba(80, 80, 80, 1);

}

.element p
{
  margin: 0;
  padding: 0;
  margin-right: 15px;
}

.element .left
{
  flex: 1;
  display: flex;
  align-items: center;
}

.element .rectangle
{
  width: 40px;
  height: 40px;
  border-radius: 10px;

  background-color: rgba(116, 204, 162, 0.6);

  margin-left: 7.5px;
}

.element .left p:nth-child(2)
{
  font-size: 15px;
  font-weight: 500;

  color: white;
  opacity: 0.6;

  margin-left: 10px;
}
.element .left p:nth-child(3)
{
  font-size: 13px;
  font-weight: 500;

  color: white;
  opacity: 0.4;

  margin-left: 15px;
}

.element button
{
  outline: none;
  border: none;

  font-size: 14px;
  font-weight: 400;

  color: #3E8467;
  opacity: 0.8;

  background-color: rgba(80, 80, 80, 1);

  margin-right: 15px;
}
