/*NAVBAR*/
.navbar
{
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  top: 0;

  z-index: 2;

  backdrop-filter: blur(0px);

  padding-top: 25px;

}

.navbar .inner
{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 25px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .inner .left
{
  display: flex;
  align-items: center;
}

.navbar .inner p
{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);

  cursor: pointer;

  padding: 12px 24px;

  margin: 0;
}
.navbar .inner .selected
{
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(4px);

  border-radius: 15px;
}
/*NAVBAR END*/


/*HERO*/

.hero
{
  z-index: 0;

  width: 100%;
  height: 100vh;

  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url("/assets/hero4.png");
  background-position: center;
  background-size: cover;
}

.hero .inner
{
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero .top
{
  width: 100%;
}
.hero .bottom
{
  display: flex;
  position: absolute;
  bottom: 25px;

  /*align-self: center;*/
}

.hero h1
{
  font-size: 72px;
  color: rgba(255, 255, 255, 0.9);

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;

  text-align: left;
}

.hero .top p
{
  font-size: 18px;
  color: white;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;

  opacity: 0.4;

  margin-top: 15px;
}

.hero .bottom p
{
  font-size: 15px;
  color: rgba(255, 255, 255, 0.4);

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;

  cursor: pointer;

  padding: 12px 24px;

  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);

  border-radius: 15px;
}
.hero .bottom p img
{
  transform: translateY(1px);
  opacity: 0.6;
}
/*HERO END*/


/*START*/
.start
{
  margin-top: 15vh;
}

.start .inner
{
  max-width: 1200px;
  margin: 0 auto;

  padding: 25px;

  display: flex;
}

.start .left
{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start .right
{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start .box
{
  padding: 25px;
  display: flex;
  flex-direction: column;

  background-color: rgba(80, 80, 80, 0.6);
  border-radius: 15px;

  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.start .left input
{
  height: 55px;
  width: 250px;

  background-color: rgba(120, 120, 120, 0.4);
  border-radius: 15px;

  outline: none;
  border: none;

  padding: 0 20px;

  color: white;
  font-size: 14px;
  font-weight: 500;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  text-align: left;

  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}
.start .left button
{
  height: 55px;
  width: 250px;

  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 15px;

  outline: none;
  border: none;

  padding: 0 20px;

  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 600;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  margin-top: 20px;

  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}


.start .right select
{
  height: 55px;
  width: 250px;

  background-color: rgba(120, 120, 120, 0.4);
  border-radius: 15px;

  outline: none;
  border: none;

  padding: 0 20px;

  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  font-weight: 500;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  text-align: center;

  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  -webkit-appearance: none;

  margin-bottom: 20px;

  text-align-last:center;
}

.start .right button
{
  height: 55px;
  width: 250px;

  background-color: rgba(62, 132, 103, 0.6);
  border-radius: 15px;

  outline: none;
  border: none;

  padding: 0 20px;

  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 600;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}
/*START END*/



/*GUIDE*/

.guide
{
  max-width: 1200px;
  margin: 0 auto;

  padding: 25px;
}

/*INFORMATION*/
.information
{
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 15vh 0;
}

.information .left
{
  flex: 1;
}
.information .left img
{
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 15px;

  box-shadow: 0 0 25px rgba(0, 0, 0, .2);
}

.information .right
{
  flex: 1;
}

.information .right h2
{
  font-size: 48px;
  color: rgba(255, 255, 255, 0.8);

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;

  text-align: right;
}

.information .right p
{
  font-size: 15px;
  color: white;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;

  text-align: right;

  opacity: 0.4;

  margin-top: 20px;

  margin-left: 50px;
}

.switch .left
{
  order: 2;
}
.switch .right
{
  order: 1;
}

.switch .right h2
{
  text-align: left;
}
.switch .right p
{
  text-align: left;
  margin-left: 0;
  margin-right: 50px;
}
/*INFORMATION END*/

/*GUIDE END*/
