
<div class="navbar" id="navbar">
  <div class="inner">
    <div class="left">
      <a href="#hero"><p class="selected">Hero</p></a>
      <a href="#start"><p>Start</p></a>
      <a href="#history"><p>History</p></a>
      <a href="#guide"><p>Guide</p></a>
    </div>
    <div class="right">
      <a href="https://www.awacademy.de" target="_blank">
        <p>AWAcademy</p>
      </a>
    </div>
  </div>
</div>
<div class="hero" id="hero">
  <div class="inner">
    <div class="top">
      <h1>Where'd<br>you find that?</h1>
      <p>The globe is our playground.</p>
    </div>
    <div class="bottom">
      <p>Go Down</p>
    </div>
  </div>
</div>

<div class="start" id="start">
  <div class="inner">
    <div class="left">
      <div class="box">
        <input type="text" [(ngModel)]="inputCode" placeholder="Lobby Code...">
        <button (click)="clickedJoin()">Join</button>
      </div>
    </div>
    <div class="right">
      <div class="box">

        <select id="timeRoundChoice" [(ngModel)]="timeLimitRound" ngDefaultControl>
          <option value="undefined" disabled selected>Time Limit Game...</option>
          <option *ngFor="let timeRoundChoice of this.tLRArray" value="{{ timeRoundChoice }}">{{ timeRoundChoice }}</option>
        </select>

        <select id="timeVotingChoice" [(ngModel)]="timeLimitVoting" ngDefaultControl>
          <option value="undefined" disabled selected>Time Limit Voting...</option>
          <option *ngFor="let timeVotingChoice of this.tLVArray" value="{{ timeVotingChoice }}">{{ timeVotingChoice }}</option>
        </select>

        <select id="amountOfTerms" [(ngModel)]="amountOfTerms" ngDefaultControl>
          <option value="undefined" disabled selected>Amount Terms...</option>
          <option *ngFor="let termAmount of this.aOTArray" value="{{ termAmount }}">{{ termAmount }}</option>
        </select>

        <button (click)="clickedCreate()">Create</button>

      </div>
    </div>
  </div>
</div>

<div class="history" id="history">
  <app-geodatahistory></app-geodatahistory>
</div>

<div class="guide" id="guide">

  <div class="information">
    <div class="left">
      <img src="/assets/start.png" alt="Start Image">
    </div>
    <div class="right">
      <h2>Start Up</h2>
      <p>The aim of the game is to be the first to find the randomly generated objects on the world map within the defined time. The objects found are then presented and rated by players</p>
    </div>
  </div>

  <div class="information switch">
    <div class="left">
      <img src="/assets/create.png" alt="Start Image">
    </div>
    <div class="right">
      <h2>Create Lobby</h2>
      <p>To start the game, a game room (lobby) is created. For this purpose, some settings such as number of objects, playing time and duration of the object grading (voting) are specified for the time being. With Create we create a lobby and have to set a player name. Now we are in the lobby.</p>
    </div>
  </div>

</div>
