<div class="elements" *ngFor="let term of terms">

  <h4>{{ term.name }}</h4>

  <app-geodatapreview *ngFor="let g of term.geodata" [geodata]="g" (changeSelected)="changeSelected($event)" [votable]="votable"></app-geodatapreview>

</div>

<div class="geodataview" *ngIf="selectedGeodata">
  <div #map style="width:50%;height:50vh"></div>
</div>
