.container
{
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px;

  height: 100vh;

  position: absolute;
  top: 0;

  pointer-events: none;
}

.terms
{

  display: flex;
  align-items: center;

  position: absolute;
  bottom: 45px;
  left: 45px;

  z-index: 3;

}
.term
{
  pointer-events: all;
  display: flex;
  align-items: center;
  justify-content:center;

  height: 45px;

  outline: none;
  border: none;

  border-radius: 15px;

  padding: 0 24px;

  background-color: rgba(195, 195, 195, 0.6);

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);

  margin-right: 25px;
  cursor: pointer;

  backdrop-filter: blur(4px);
}
.term img
{
  width: 20px;
  height: 20px;
  opacity: 0.6;
  margin-left: 10px;
}

.selected
{
  background: #3E8467;
  color: rgba(255, 255, 255, .8);
}

.saveposition button
{
  pointer-events: all;

  position: absolute;
  bottom: 100px;
  left: 45px;

  z-index: 3;

  height: 55px;

  outline: none;
  border: none;

  border-radius: 15px;

  padding: 0 24px;

  background-color: rgba(195, 195, 195, 0.6);

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);

  margin-bottom: 35px;

  backdrop-filter: blur(4px);
}

.countdown
{
  position: absolute;
  top: 65px;
  left: 45px;

  display: flex;
  margin: auto 0;

  height: 45px;

  font-size: 24px;
  font-weight: 600;

  color: rgba(255, 255, 255, 0.6);
}
.countdown p
{

  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;

}
