<div #mapId class="map" style="width:100%;height:100vh"></div>

<div class="terms">
  <p
    *ngFor="let term of round!.terms"
    class="term"
    [ngClass]="{'selected': selectedTerm === term.id}"
    (click)="selectTerm(term)">
    {{ term.term }}
    <img src="/assets/check.svg" alt="check" *ngIf="savedToTerm(term)">
  </p>
</div>

<div class="countdown">
  <p> {{ secondsToMinuteString(timeLeftRound || 0) }} </p>
</div>

<div class="saveposition" *ngIf="map?.getStreetView()?.getVisible()">
  <button (click)="savePosition()">
    Save Position
  </button>
</div>
