.outer
{
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 15vh;
}

.outer .left
{
  flex: 1;
  margin-right: 25px;
}
.outer .left #map
{
  width: 100%;
}


.outer .right
{
  flex: 1;
  height: 40vh;
}

.innerscroll
{
  flex: 1;
  overflow-y: scroll;
  height: calc(40vh - 80px);

  border-radius: 15px;
}
.innerscroll::-webkit-scrollbar {
  display: none;
}
.innerscroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.innerscroll .data
{
  margin-bottom: 10px;
}

.top
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top button
{
  flex: 1;

  height: 55px;
  width: 250px;

  background-color: rgba(62, 132, 103, 0.6);
  border-radius: 15px;

  outline: none;
  border: none;

  padding: 0 20px;

  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 600;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  box-shadow: 0 0 20px rgba(0, 0, 0, .1);

  margin-top: 25px;
}
