<div class="outer">

  <!-- DISPLAY MAP -->
  <div class="left">

    <div class="geodataview" *ngIf="selectedGeodata">
      <div #map style="width: 100%; height: 40vh"></div>
    </div>

  </div>

  <div class="right">

    <!-- SHOW ALL GEODATA BY TERMS -->
    <div class="innerscroll">

      <div *ngFor="let geodata of allGeoData" class="data">

        <div *ngIf="selectedTerm === undefined">
          <app-geodatapreview [geodata]="geodata" (changeSelected)="changeSelected($event)" [showTerm]="true"></app-geodatapreview>
        </div>

        <div *ngIf="geodata.term.term == selectedTerm">
          <app-geodatapreview [geodata]="geodata" (changeSelected)="changeSelected($event)" [showTerm]="true"></app-geodatapreview>
        </div>
      </div>

    </div>

    <div class="top">
<!--      <button *ngIf="!filter" (click)="setFilter()">Filter by term</button>-->
<!--      <button *ngIf="filter" (click)="setFilter()">Delete filter</button>-->
<!--      <div *ngIf="filter">-->
<!--        <select [(ngModel)]="selectedTerm" ngDefaultControl>-->
<!--          <option *ngFor="let term of allTerms!" selected="" value="{{ term.term }}"> {{ term.term }} </option>-->
<!--        </select>-->
<!--      </div>-->
      <button (click)="clickedShowAll()">Show All</button>
    </div>

  </div>

</div>
