/* You can add global styles to this file, and also import other style files */
*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body
{
  background-color: #282828;
}

a
{
  text-decoration: none;
}


.gm-svpc
{
  position: absolute !important;
  right: -2.5px !important;
  bottom: -2.5px !important;

  width: 45px !important;
  height: 45px !important;
  border-radius: 15px !important;

  top: auto !important;
  left: auto !important;

  background-color: rgba(195, 195, 195, 0.6) !important;
  backdrop-filter: blur(4px);
}

body > app-root > app-lobby > div > div > div > div > app-game > div.map > div > div:nth-child(2) > div:nth-child(6) > button
{
  display: none !important;
}

body > app-root > app-lobby > div > div > div > div > app-game > div.map > div > div:nth-child(2) > div:nth-child(11) > div.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom > div.gmnoprint
{
  display: none !important;
}

body > app-root > app-lobby > div > div > div > div > app-game > div.map > div > div:nth-child(2) > div:nth-child(11) > div.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom > div:nth-child(2)
{
  display: none !important;
}


body > app-root > app-lobby > div > div > div > div.left > div > div.geodataview > div > div.gm-style > div:nth-child(1) > div > div:nth-child(10) > div > canvas
{
  border-radius: 15px;
}
div.geodataview > div > div.gm-style > div:nth-child(1) > div > div:nth-child(10) > div > canvas
{
  border-radius: 15px;
}
