<div *ngIf="currentRound">

  <div [ngSwitch]="currentRound!.currentState">

    <div *ngSwitchCase="'NOTSTARTED'">

      <div *ngIf="!ipAddress.isInRound" class="nameinput"> <!-- Wenn IP-Adresse noch keinem Spieler zugeordnet ist -->

        <form>
          <label for="playerName">Choose a name: </label>
          <input type="text" name="playerName" id="playerName" placeholder="Playername" #playerName>
          <button (click)="createPlayer(ipAddress.address, playerName.value)">Done</button>
        </form>

      </div>

      <div *ngIf="ipAddress.isInRound" class="lobby"> <!-- Wenn IP-Adresse einem Spieler zugeordnet -->

        <div class="back" routerLink="">
          <img src="/assets/arrow-left-short.svg" alt="Back Button" (click)="deletePlayer()"/>
        </div>
        <div class="left">

          <h1>Lobby</h1>
          <pre>
You're currently in the game lobby!
The game has not started yet!
          </pre>

          <div *ngIf="currentRound && currentRound.players.length > 0" class="players">
            <h2>{{ currentRound.players.length }} Player</h2>
            <ul *ngFor="let player of currentRound.players">
              <li>
                <div class="pb"></div>
                <p>{{ player.name }}</p>
              </li>
            </ul>
          </div>

        </div>

        <div class="right">

          <div class="scape">
            <div class="code">
              <h1>{{ lobby?.code }}</h1>
              <button ngxClipboard [cbContent]="'http://localhost:4200/lobby?code=' + lobbyCode">Copy Link</button>
            </div>
          </div>

          <button (click)="startGame()" class="start">Start</button>

        </div>

      </div>

    </div>

    <div *ngSwitchCase="'STARTED'">

      <div *ngIf="ipAddress.isInRound"> <!-- Wenn IP-Adresse einem Spieler zugeordnet -->

        <!-- GAME CONTENT -->
        <app-game [round]="currentRound" [player]="you" [timeLeftRound]="timeLeftRound" (savePositionEvent)="savePosition($event)"></app-game>

        <div class="endGame">
          <button (click)="endGame()">End Game</button>
        </div>

        <div *ngIf="notification" class="notification">
          <p>{{ notification }}</p>
        </div>

      </div>

    </div>

    <div *ngIf="this.currentRound.currentState === 'VOTING' && !ipAddress.voted" class="lobby">

      <div class="back" routerLink="">
        <img src="/assets/arrow-left-short.svg" alt="Back Button"/>
      </div>

      <div class="left">

        <h1>Voting</h1>
        <pre>
The time is up
please look at your competitors findings
and review them with a like or a flag
            </pre>

        <select [(ngModel)]="selectedTerm">
          <option value="" disabled selected>Select Term...</option>
          <option *ngFor="let term of this.currentRound.terms" value="{{ term.term }}">{{ term.term }}</option>
        </select>

        <!-- Anzeige der Geodaten für den jeweiligen Term-->
        <div class="voting">
            <div *ngFor="let geodata of this.currentRound.geodata">

              <div class="votebar" *ngIf="geodata.term.term === selectedTerm">
                <app-geodatapreview [geodata]="geodata" (changeSelected)="changeSelected($event)"></app-geodatapreview>

                <div *ngIf="geodata.player.ipAddress !== ipAddress.address">
                  <button (click)="giveUpVote(geodata.id)">
                  <img src="/assets/thumb-up{{ geodata.upvote > 0 ? '-fill':'' }}.svg" alt="Like Tip">
                  </button>

                  <button (click)="setFlag(geodata.id)">
                    <img src="/assets/thumb-down{{ geodata.isFlagged ? '-fill':'' }}.svg" alt="Dislike Tip">
                  </button>
                </div>
              </div>
            </div>

            <div class="geodataview" *ngIf="selectedGeodata">
              <div style="width: 100%; height: 100vh; pointer-events: all; position: absolute; top: 0; left: 0;" (click)="closeMap()"></div>
              <div #map class="map" style="width:50%;height:50vh;pointer-events: all"></div>
            </div>

        </div>

      </div>

      <div class="right endvoting">
        <button (click)="endVoting()">Done</button>
      </div>

    </div>

    <!-- PLAYER HAS VOTED -->
    <div *ngIf="ipAddress.voted" class="lobby voted">
      <div class="back" routerLink="">
        <img src="/assets/arrow-left-short.svg" alt="Back Button"/>
      </div>

      <div *ngIf="ipAddress.isInRound" class="left"> <!-- Wenn IP-Adresse einem Spieler zugeordnet -->

        <h1>Result</h1>

        <div class="results">

          <div *ngFor="let playerFinalScore of this.overview" class="result">
            <div class="left">
              <div class="rectangle">

              </div>
              <p>{{playerFinalScore.player.name}}</p>
            </div>
            <p class="score">{{playerFinalScore.score}}</p>
          </div>

        </div>

      </div>

      <div class="right endvoting">
        <button routerLink="">Close</button>
      </div>
    </div>


  </div>
</div>
