.notification
{

  height: 45px;


  display: flex;
  align-items: center;

  position: absolute;
  bottom: 50%;
  left: 45px;

  z-index: 3;

  padding: 0 24px;
  background-color: rgba(62, 132, 103, 0.6);
  backdrop-filter: blur(4px);

  font-size: 14px;
  font-weight: 600;
  color: white;

  border-radius: 15px;

}
.notification p
{
  margin-bottom: 0 !important;
}

.endGame button
{
  position: absolute;
  top: 65px;
  right: 25px;

  z-index: 3;

  display: flex;
  align-items: center;
  justify-content:center;

  height: 45px;

  outline: none;
  border: none;

  border-radius: 15px;

  padding: 0 24px;

  background-color: rgba(255, 57, 57, 0.6);

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);

  margin-right: 25px;
  cursor: pointer;

  backdrop-filter: blur(4px);
}

.countdown
{
  position: absolute;
  bottom: 135px;
  left: 10px;

  z-index: 3;

  height: 25px;
}




.nameinput
{
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

}

.nameinput form
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nameinput input
{

  width: 100%;
  height: 55px;

  margin-bottom: 25px;

  outline: none;
  border: none;

  border-radius: 15px;

  background-color: rgba(195, 195, 195, 0.4);

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);

  padding: 0 15px;

  transition: .3s ease;

  text-align: center;

  backdrop-filter: blur(4px);

}

.nameinput button
{

  width: 100%;
  height: 55px;

  outline: none;
  border: none;

  border-radius: 15px;

  background-color: rgba(62, 132, 103, 0.6);

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);

  padding: 0 15px;

  transition: .3s ease;

  text-align: center;

  backdrop-filter: blur(4px);

}



.lobby
{

  max-width: 1200px;
  margin: 0 auto;

  padding: 25px;

  margin-top: 125px;

  display: flex;
  justify-content: space-between;

  box-sizing: border-box;

}

.back img
{
  width: 32px;
  height: 58px;

  color: white;
  opacity: 0.8;
  font-weight: 600;
  margin-right: 15px;

  cursor: pointer;
}

.left
{
  flex: 1;
}
.left h1
{
  font-size: 48px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
}

.left pre
{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.4);

  margin-top: 48px;
}



.players
{
  margin-top: 72px;
}

.players h2
{
  font-size: 20px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.6);

  margin-bottom: 50px;
}

.players ul
{
  list-style-type: none;
  padding: 0;

  margin-top: 25px;
}
.players li
{
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);

  width: 300px;

  padding: 0 7.5px;
  height: 55px;
  background-color: rgba(80, 80, 80, 1);
  border-radius: 15px;

  display: flex;
  align-items: center;

}
.players li p
{
  display: flex;
  align-items: center;
  justify-content: center;

  margin: auto 0;
  margin-left: 15px;
}

.players li .pb
{
  width: 40px;
  height: 40px;

  border-radius: 12px;

  background-color: #74CCA2;
  opacity: 0.8;
}


.right
{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  flex: 1;
}
.start
{

  position: absolute;
  bottom: 45px;

  width: 150px;
  height: 45px;

  margin-bottom: 35px;

  outline: none;
  border: none;

  border-radius: 15px;

  background-color: rgba(62, 132, 103, 0.6);

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);

  transition: .3s ease;

  backdrop-filter: blur(4px);

}


.scape
{
  width: 100%;
}

.code
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scape h1
{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: rgba(255, 255, 255, 0.8);;
}

.scape button
{

  border: none;
  outline: none;

  border-radius: 8px;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.6);
  padding: 6px 12px;

  background-color: rgba(62, 132, 103, 0.6);

  margin-top: 10px;

}

.options
{
  display: flex;
  flex-direction: column;
}

.options p
{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.4);

  position: center;
  top: 5px;
}



.endvoting button
{

  position: absolute;
  bottom: 45px;

  width: 150px;
  height: 45px;

  margin-bottom: 35px;

  outline: none;
  border: none;

  border-radius: 15px;

  background-color: rgba(62, 132, 103, 0.6);

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);

  transition: .3s ease;

  backdrop-filter: blur(4px);

}



.votebar
{

  display: flex;
  align-items: center;

  height: 45px;
  margin-bottom: 35px;
}
.votebar button
{
  height: 55px;
  width: 55px;

  outline: none;
  border: none;

  border-radius: 15px;

  background-color: rgba(80, 80, 80, 1);

  margin-left: 15px;
}
.votebar button img
{
  width: 20px;
  height: 20px;

  opacity: 0.4;

  transform: translateY(-1px);
}

.voting
{
  margin-top: 45px;
}

app-geodatapreview
{
  width: 60%;
}

.left select
{
  width: 200px;

  outline: none;
  border: none;
  height: 55px;

  border-radius: 15px;

  background-color: rgba(80, 80, 80, 1);
  -webkit-appearance: none;
}

.left select
{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);

  text-align: center;
  padding-left: 25px;
}


.geodataview
{
  width: 100%;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.4);
}


.voted h1
{
  margin-bottom: 65px;
}

.result
{
  height: 55px;
  width: 350px;

  margin-bottom: 25px;

  background-color: rgba(80, 80, 80, 1);
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.result .left
{
  display: flex;
  align-items: center;
}
.result p
{
  margin: 0;
  padding: 0;

  font-size: 15px;
  font-weight: 500;

  color: white;
  opacity: 0.6;
}
.result .left p
{
  margin-left: 15px;
}
.result .score
{
  font-size: 16px;
  margin-right: 20px;
  font-weight: 600;
}

.rectangle
{
  width: 40px;
  height: 40px;
  border-radius: 10px;

  background-color: rgba(116, 204, 162, 0.6);

  margin-left: 7.5px;
}

.results
{
  position: absolute;
  left: calc( 50% - 175px );
}
